<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <!-- SVG dosyasını burada kullanabilirsiniz -->
            <img src="~/webfonts/icons8-star-wars.svg" alt="Star Wars Icon" width="80" height="100">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">StarWars Components:</h6>
                <a asp-controller="Character" asp-action="GetAllCharacterCard" class="collapse-item">Characters</a>
                <a asp-controller="Planets" asp-action="GetAllPlanetCard" class="collapse-item" >Planets</a>
                <a asp-controller="Species" asp-action="GetAllSpeciesCard" class="collapse-item" >Species</a>
                <a asp-controller="Starship" asp-action="GetAllStarshipCard" class="collapse-item">Starships</a>
                <a asp-controller="Vehicles" asp-action="GetAllVehicleCard" class="collapse-item" >Vehicles</a>
                <a asp-controller="Films" asp-action="GetAllFilmCard" class="collapse-item" >Films</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Tables Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
        </a>

        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Tables Screens:</h6>
                <a asp-controller="Character" asp-action="AllCharacters" class="collapse-item" >Characters Tables</a>
                <a asp-controller="Planets" asp-action="GetAllPlanets" class="collapse-item" >Planets Tables</a>
                <a asp-controller="Species" asp-action="GetAllSpecies" class="collapse-item">Species Tables</a>
                <a asp-controller="Starship" asp-action="GetAllStarship" class="collapse-item">Starships Tables</a>
                <a asp-controller="Vehicles" asp-action="GetAllVehicles" class="collapse-item" >Vehicles Tables</a>
                <a asp-controller="Films" asp-action="Index" class="collapse-item">Films Tables</a>
            </div>
        </div>
    </li>

    
   

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>