<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <!-- mx-auto ile menüler ortada yerleştirilir -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Components
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a asp-controller="Character" asp-action="GetAllCharacterCard" class="dropdown-item">Characters</a>
                    <a asp-controller="Planets" asp-action="GetAllPlanetCard" class="dropdown-item">Planets</a>
                    <a asp-controller="Species" asp-action="GetAllSpeciesCard" class="dropdown-item">Species</a>
                    <a asp-controller="Starship" asp-action="GetAllStarshipCard" class="dropdown-item">Starships</a>
                    <a asp-controller="Vehicles" asp-action="GetAllVehicleCard" class="dropdown-item">Vehicles</a>
                    <a asp-controller="Films" asp-action="GetAllFilmCard" class="dropdown-item">Films</a>
                </div>
            </li>

            <!-- Boşluk ekleniyor -->
            <li class="nav-item" style="margin: 0 20px;"></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tables
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a asp-controller="Character" asp-action="AllCharacters" class="dropdown-item">Characters Tables</a>
                    <a asp-controller="Planets" asp-action="GetAllPlanets" class="dropdown-item">Planets Tables</a>
                    <a asp-controller="Species" asp-action="GetAllSpecies" class="dropdown-item">Species Tables</a>
                    <a asp-controller="Starship" asp-action="GetAllStarship" class="dropdown-item">Starships Tables</a>
                    <a asp-controller="Vehicles" asp-action="GetAllVehicles" class="dropdown-item">Vehicles Tables</a>
                    <a asp-controller="Films" asp-action="Index" class="dropdown-item">Films Tables</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
